add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

add_ace resource.uptime command.sets allow
add_ace group.sync command.weather allow
add_ace group.sync command.time allow
add_ace group.sync command.freezetime allow
add_ace resource.uptime command.sets allow
add_ace group.sync "changeWeather" allow
add_ace group.sync "changeTime" allow
add_ace group.sync "freezeTime" allow


# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Vanilla
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard

# Essentialmode
ensure essentialmode
ensure es_ui
ensure es_admin2
ensure mysql-async
ensure esplugin_mysql

# ESX
ensure async
ensure es_extended
ensure instance
ensure disc-base
ensure esx_cartesim
ensure esx_addons_gcphone
ensure disc-gcphone
ensure gcphone
ensure esx_kashacters
ensure esx_tpm
# ensure esx_weashops
ensure esx_jb_weashops
ensure esx_vehicleshop

    restart esx_kashacters
ensure skinchanger

ensure esx_skin
ensure spawnselector
ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog
ensure esx_billing
ensure esx_society
ensure cron
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_datastore
ensure esx_identity
ensure skincreator
ensure esx_license
ensure esx_service
ensure esx_joblisting
ensure t1ger_cardealer
ensure esx_YachtHeist
ensure esx_outlawalert
ensure Notification
ensure esx_advancedhospital
ensure radialmenu

ensure esx_dmvschool
# ensure t0sic_loadingbar
ensure threatbar
ensure houseRobberies
ensure esx-qalle-sellvehicles
# ensure esx_shops
ensure esx_supermarket
# ensure vMenu
ensure cratedrop
ensure esx_cratedelivery
ensure esx_realweapons
ensure esx_holster
ensure esx_cargodelivery
ensure esx_drugs
ensure esx_truckshop
ensure esx_property
ensure esx_accessories



# Needs
ensure esx_status
ensure esx_basicneeds
ensure esx_optionalneeds
ensure MF_Stress
ensure ensure lv_headlights

# Disc
#ensure disc-inventoryhud
ensure esx_inventoryhud
start esx_inventoryhud_trunk
start esx_inventoryhud_glovebox
ensure disc-ammo
ensure disc-showid
ensure disc-autorepair

# Jobs
ensure esx_ambulancejob
ensure esx_policejob
ensure esx_taxijob
ensure WeazelNewsCam
ensure esx_PoliceGarage
ensure esx_AmbulanceGarage
ensure wojtek_ubereats
ensure WeazelNewsCam
ensure esx_WeazelGarage
ensure esx_mechanicjob
ensure esx_lscustom
# ensure fivem_fishing
ensure esx_jb_outlawalert
ensure LRP-Farmcyc
ensure esx_advancedfishing
ensure esx_Krowa
ensure esx_Pharmacy
ensure esx_pharmacy2
ensure esx_windowcleaner
ensure esx_banksecurity
ensure onyx_garbagejob
ensure esx_pizza
ensure gopostal_job

# POLICE

ensure esx_police_cad
ensure esx_PoliceArmory
ensure esx_policedog
ensure esx_PoliceGarage
ensure esx_policejob
ensure esx_policemdt
ensure fn_illegals
ensure jsfour-criminalrecord
ensure qalle_policearmory
ensure st-cctv

# Utility
# ensure status-hud
ensure trew_hud_ui
# ensure pro_loadingscreen
ensure new_banking
ensure dpemotes
ensure jgarage
ensure esx_bike
ensure esx_showcommands
ensure hideInTrunk
ensure esx_simpletp
# ensure drzwi
ensure esx-qalle-jail
ensure esx_duty
ensure Carry
ensure progressBars
ensure vSync
ensure 3dme
ensure BlipsBuilder
ensure DeathCam
ensure golf
ensure esx_voice
ensure mhacking
ensure qalle_coords
ensure Lenzh_chopshop
ensure esx_speedcamera
# ensure core_hideintrunk
ensure esx_doorlock
ensure proloading
ensure simpledrift
ensure utku_realdopes
ensure utku_realdopes2
ensure esx_hunting
ensure esx_truckerjob



# House
ensure esx_garage
ensure HousingShells
ensure loaf_housing
# start esx_advancedgarage
# start playerhousing
# ensure utk_motels
# ensure james_motels


# Cars
# ensure HUD
ensure JAM
ensure RealisticAirControl
ensure es_carwash
ensure esx-kr-vehicle-push
ensure esx_RealisticVehicleFailure
ensure lux
ensure pdmegapack
ensure dodgeEMS
ensure gtr
ensure mh65c
ensure Weazel
ensure Fuel
ensure esx_carlock
ensure carcontrol
ensure mark-b_police-tracker

# RP Necessary
ensure crosshair
ensure pNotify
ensure esx_scoreboard
ensure traffic
ensure CalmAI
ensure ProtectPnj
ensure disabledispatch
ensure afkkick
ensure NoReticle
ensure fivem-map-hipster
ensure fivem-map-skater

# Shops
ensure esx_np_skinshop
ensure esx_barbershop
ensure esx_advanced_tattooshop

# Illegals
ensure esx_newDrugs
# ensure drugs
ensure progressBars
ensure mhacking
ensure MF_LockPicking
ensure MF_Fleeca
ensure esx_moneywash
ensure esx_GoldCurrency
ensure esx_jewelrobbery
ensure esx_TruckRobbery
ensure esx_knatusblowtorch
ensure esx_knatusrobberybank
ensure loffe_robbery
ensure st-menu
ensure esx_bitcoinv2
ensure motels
ensure jsfour-idcard

# Mythic
ensure mythic_notify
ensure mythic_progbar
ensure mythic_spawnprotect
ensure mythic_wepdraw
ensure mythic_hospital
ensure mythic_interiors

# Mapping
ensure bob74_ipl
ensure Cinema
ensure CityHall_v2
ensure comedyclub
ensure gabz_pillbox_hospital
ensure lilseoulchurch
ensure mappings
ensure pdm
ensure pilboxdown
ensure SLBK11_MissionRow
ensure temple
ensure vineyards
ensure wnewsv2
ensure yachtheist
ensure usedcarsmap
ensure PharmacyMaps
ensure LMC
ensure subhamprocourt
ensure subhamprohd
ensure pd_sandy
ensure subhamprodealership
ensure subhamprosandyhospi
ensure int_modern-tp
ensure subhampropdm
ensure subhampropd
ensure subhampropd2
ensure subhampropd3

# ensure pablito_restauracja
# ensure pablito_taco

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
rcon_password "1234"

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "india, indian, roleplay, indian roleplay, serious roleplay, whitelisted"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "TEST SERVER"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands

add_ace group.admin identifier.steam:110000139b0479e

add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.1100001007891ea group.superadmin # add the admin to the group
add_principal identifier.steam:110000137972c5f group.admin 
add_principal identifier.steam:110000137972c5f group.sync #Wyste
add_principal identifier.steam:11000013a3fe8ab group.sync

#add_ace identifier.steam:110000137972c5f simplemenu.admin allow --SubhamPROisLive


# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# License key for your server (https://keymaster.fivem.net)
# sv_licenseKey "4cyheommuihb8czjfyi5ss0muajcz99v"

# Steam Web API.  Visit https://steamcommunity.com/dev/apikey to generate your own.
set steam_webApiKey F4BDF233965A9763BDDDDCC66AD7EEA2

# DB connection string
set mysql_connection_string "server=localhost;database=essentialmode;userid=admin;password=123456"
set es_enableCustomData 1

sv_licenseKey p51lf8tnrja0dtlcb2jzvtl9thzddver